.nested-fields
  .row
    .col-md-12
      .card
        .card-body
          .card-title
            .registrant.attendee-type
              You
            .guest.attendee-type 
              Guest
          .card-text
            .form-group
              = f.input :name, label:  'Name (for name tag)', input_html:  { placeholder:  'Name *' }
            .form-group
              = f.input :attendee_age, label:  '', collection:  [['Adult, 16+', 'adult'], ['Child, 15- (free)', 'child']], as:  :radio_buttons, item_label_class:  'form-check-label ms-2', item_wrapper_tag:  false
            .form-group
              = f.input :volunteer, inline_label:  "Would like to volunteer (<a href='#' data-toggle='modal', data-target='#volunteer-info'>What volunteer tasks are there?</a>)".html_safe
                
            .row
              .col-md-12
                .remove_association_action
                  = link_to_remove_association '<i class="fa fa-minus" ></i> <i class="fa fa-male" ></i>'.html_safe, f, class:  'btn btn-danger '
                  Remove this person
