.container
  .row.justify-content-center
    .col-md-8.col-12
      .card
        .card-body
          .card-title
            %h2 Edit registration{@user.nil? ? "" : " for #{@user.full_name}"}
          .card-text
            %admin-summary
              #registration-form.edit_registration
                = simple_form_for @registration, url: update_by_admin_event_registrations_path, method: :patch, data: { turbo: false } do |f|
                  = render partial: 'admin_registration_fields', locals: { f: f }
