.container
  .row.justify-content-center
    .col-md-8.col-12
      .card 
        .card-body 
          .card-title
            %h3.h4 Modify Lunch Guests
          .card-text
            %p It's very helpful for Patrick and Astrid to have as accurate a count as possible of people coming to Shadow 66 on Sunday.
            %p Please let us how many in your party are coming (currently limited to #{sunday_lunch_max}). 
              
            = simple_form_for @event_registration, url: update_sunday_lunch_event_registration_path(@event_registration), method: :patch do |f|
              .form-group
                %label
                  .mb-2 Number of people for Sunday lunch at Shadow 66 (including you)
                  = f.input :sunday_lunch_number, as: :select, collection: (0..sunday_lunch_max), label: false, input_html: { style: 'width: 100px;', class: 'form-control' }

              .form-group
                = f.submit 'Save', class:  "btn  btn-primary"              


