.container
  .row.justify-content-center
    .col-md-8.col-12
      .card
        .card-body
          .card-title
            %h2 Modify registration for #{@user.full_name}
          .card-text
            %p=link_to 'View registration', event_registration_path(@registration)
            %p
              Normal admin edit page:
              =link_to 'Edit registration', edit_by_admin_event_registration_path(@registration)
            #registration-form.edit_registration
              - if @registration.complete?
                %p
                  %b A modification will be created
              %admin-summary
                = simple_form_for @registration, url: modify_event_registration_path, method: :post, data: { turbo: false } do |f|
                  = render partial: 'admin_registration_fields', locals: { f: f, reg: @registration, user: @user }
                  .row
                    .col-12
                      .form-group
                        = f.submit modify_button_label(@registration), class:  "btn  btn-primary"
