- all_fees = Rails.configuration.pricing[:fees]
.container
  .row.justify-content-center
    .col-md-8.col-12
      .card
        .card-body
          .card-title
            %h2 Create a registration
          .card-text
            #registration-form.edit_registration
              = simple_form_for @event_registration, url: create_by_admin_event_registration_path, method: :patch do |f|
                = render partial: 'admin_fields', locals: { f: f, reg: @event_registration }
                .row
                  .col-12
                    .form-group
                      = f.submit 'Save', class:  "btn  btn-primary"
