.container.invoice
  .row.justify-content-center
    .col-md-8.col-12
      .card
        .card-body
          .card-title.heading
            %h1.h2 R#{Time.new.year} Registration

        - if @registration.complete?
          = render partial: 'common/post_register_toolbar', locals: { reg: @registration, user: @registration.user }

= render partial:  'common/registration_info'
