.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-title
            %h1.h3 Make a Donation
          .card-text
            = keyed_content 'page_donation'
              
            = simple_form_for @donation, method: :post do |f|
              = render partial:  'donation_fields', locals: { f: f }
              %br

              %p
                We use Square to process payments.
              %p
                It takes a several moments for Square to process your payment; after you pay, please
                wait to be returned to our site.
              .form-group
                = button_tag "Make Donation", type: :submit, class:  "btn btn-primary btn-square-pay"