.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body
          .card-title
            - if @donation.created_by_admin
              %h1.h3 The donation  was created
            - else
              %h1.h3 Thank you for supporting the Citroen Rendezvous!
          .card-text 
            - if @donation.created_by_admin
              %p This donation was created for #{@donation.user.full_name}
            - else
              = keyed_content 'page_donation_thanks'

            - if @type == 'vendor'
              %p 
                %strong Vendor contribution (marketing expense)
            - else 
              %p 
                %strong Donation
            
            %p Amount: #{number_to_currency(@donation.amount)}
            %p Date: #{@donation.created_at.strftime("%B %d, %Y")}