.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-title
            %h1.h3 Thank you for supporting the Citroen Rendezvous!
          .card-text
             = keyed_content 'page_donation_thanks'

            - if @type == 'vendor'
              %p Your vendor contribution (marketing expense):
            - else 
              %p Your donation: 
            
            %p Amount: #{@donation.amount}
            %p Date: #{donation.date.strftime("%B %d, %Y")}