!!!
%html{:lang => "en"}
  %head
    = wicked_pdf_stylesheet_link_tag 'open_sans_fonts'
    = wicked_pdf_stylesheet_link_tag 'style'
  %body
    %div{ :style => "width: 600px;" }
      = yield
    %div{ :style => "width: 600px; margin-top: 20px;border-top: solid 2px #ccc; padding-top: 20px;" }
      
