:root {
	--citroen-red: #E1393E;
	--dark-medium-blue: #1E6994;
	--dark-red: #94171B;
	--dark-blue: #071559;
	--ash-gray: #B7C8B5;
	--tea-green: #C5EBC3;
	--eggplant: #54414E;
	--jet: #3A3335;

	--cambridge-blue: #92B4A7;
	--indigo-dye: #0B4F6C;
	--light-gray: #d8d8d8;
	--medium-gray: #ccc;
}

/* Rendezvous customizations */
// Original primary: $brand-color
// Original button color: #cfc91d
$brand-color: var(--citroen-red);
$hover-color: var(--dark-red); 
$info-color: var(--dark-blue);

// Palette 1
// $body-background: var(--ash-gray);
// $card-background: var(--tea-green);
// $card-title-background: var(--eggplant);
// $secondary-color: var(--eggplant);

// Palette 2
$body-background: var(--cambridge-blue);
$admin-body-background: var(--light-gray);
$card-background: var(--tea-green);
$admin-card-background: var(--medium-gray);
$card-title-background: var(--indigo-dye);
$secondary-color: var(--indigo-dye);


body {
	background-color: $body-background;

	&.admin-page {
		background-color: $admin_body_background;

		.card {
			background-color: $admin-card-background;
		}
	}
}

// Font reset
body, p, li, ol, td {
	@include outfit-regular;
	font-size: 18px;
}

main {
	margin-top: 30px;
}

footer {
	padding: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
	@include prompt-bold;

	&.no-card {
		background-color: $secondary-color;
		color: white;
		padding: 20px 40px 10px;
	}
}

a:hover {
	text-decoration: underline;
}

/* Bootstrap customizations */
.bg-rendezvous {
  background-color: $brand-color;
  color: white;
}

.manage {
	background-color: var(--jet);
	color: white;

	a, a:visited {
		color: white;

		&:hover {
			color: var(--citroen-red);
		}
	}
}

.navbar {
	.navbar-brand {
		font-size: 1.2em;
		font-weight: bold;
	}

	&.top-nav {
		.navbar-brand {
			margin: 0 40px;
		}
	}
}

.badge {
	vertical-align: text-top;
	margin: 0 5px;
}

.card {
	margin: 10px 0;
	background-color: $card-background;

	.card-title {
		color: white;
		background-color: $card-title-background;
		padding: 15px 20px 7px;

		h1, h2, h3, h4, h5, h6 {
			padding: 0;
			margin: 0;
			line-height: 1;
		}
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: white;

	&:hover {
		text-decoration: underline;
	}
}

/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
    display: none;
}

.status-icon {
	padding-top: 20px;
	font-size: 20px;
	.complete {
		color: green;
	}
	.initiated {
		color: slateblue;
	}
	.in-review {
		color: gold;
	}
	.payment-due {
		color: orange;
	}
	.cancelled {
		color: darkred;
	}
}

.c_event_registrations .last-step-vehicles .user_fields {
  display: none;
}
.registration-status {
  background-color: black;
	color: #ccc;
}
.registration-status {
  a, a:visited {
    color: gold;
  }

  .fa-check-circle, .payment-due {
    color: orange;
  }
  .complete {
    color: #6f6;
  }
}

.c_event_registrations .body-wrapper {
	background: #d6e6e6;
}

/******************************
responsive area
********************************/
/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {


}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.single-service{
		margin-bottom: 30px;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 12px 10px;
	}
	input.message {
	  width: 718px;
	}
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	input.name {
	  margin-top: 55px;
	  width: 420px;
	}
	input.email{
		width: 420px;
	}
	input.message{
		width: 420px;
	}
	.banner h1 {
	  font-size: 60px;
	  letter-spacing: 3px;
	}
	.about-inside{
		padding: 10px;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
	.logo{
		margin-top: 10px;
	}
	input.name{
		margin-top: 55px;
		width: 275px;
	}
	input.email{
		width: 275px;
	}
	input.message{
		width: 275px;
	}
	.contact-form input.submit-btn{
		width: 200px;
		height: 50px;
		border:0;
	}
	.banner h1 {
		  font-size: 38px;
		  letter-spacing: 0px;
	}
	.navbar-header{
		margin-top: 5px !important;
	}
	.about-inside{
		padding: 0px;
	}
}
@media print {
  .manage, .flash-wrapper, .back-bar, .push, .footer, #modal, .fa-print {
    display: none;
  }
  .simple .heading {
    margin-top: 0;
  }
}
