:root {
	--citroen-red: #E1393E;
	--dark-medium-blue: #1E6994;
	--dark-red: #94171B;
	--dark-blue: #071559;
	--ash-gray: #B7C8B5;
	--tea-green: #C5EBC3;
	--eggplant: #54414E;
	--jet: #3A3335;

	--cambridge-blue: #92B4A7;
	--indigo-dye: #0B4F6C;
	--light-gray: #d8d8d8;
	--medium-gray: #ccc;
	--warm-maroon: #8B2F2F;
}

/* Rendezvous customizations */
// Original primary: $brand-color
// Original button color: #cfc91d
$brand-color: var(--citroen-red);
$hover-color: var(--dark-red); 
$info-color: var(--dark-blue);

// Palette 1
// $body-background: var(--ash-gray);
// $card-background: var(--tea-green);
// $card-title-background: var(--eggplant);
// $secondary-color: var(--eggplant);

// Palette 2
$body-background: var(--cambridge-blue);
$admin-body-background: var(--light-gray);
$card-background: var(--tea-green);
$nested-card-background: var(--ash-gray);
$admin-card-background: var(--medium-gray);
$card-title-background: var(--indigo-dye);
$secondary-color: var(--indigo-dye);

html {
	scroll-behavior: smooth;
}

body {
	background-color: $body-background;

	&.admin-page {
		background-color: $admin_body_background;

		.card {
			background-color: $admin-card-background;
		}
	}
}

// Font reset
body, p, li, ol, td {
	@include outfit-regular;
	font-size: 18px;
}

@mixin transition {
	transition: all 0.3s ease-in-out;
}

section.banner {
  background-image: url('DS-50th-b+w.jpg');
  background-size: cover;
  background-position: 20% 10%;
  background-repeat: no-repeat;
  min-height: 600px;

	img {
		display: inline-block;
		margin: 6vw;
	}
}

.btn {
	font-weight: bold;
}

a, a:visited {
	color: var(--warm-maroon);
	@include transition;

	&:hover {
		color: var(--medium-gray);
		text-decoration: underline;
	}

	&.btn {
		color: white;

		&:hover {
			color: #999;
			text-decoration: none;
		}
	}
}

main {
	margin-top: 30px;
}

footer {
	padding: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
	@include prompt-bold;
	font-weight: bold;

	&.no-card {
		background-color: $secondary-color;
		color: white;
		padding: 20px 40px 10px;
	}
}

.page-title {
	background-color: $card-title-background;
	color: white;
	padding: 20px 0 20px 20px;
	margin-bottom: 0;
}

@mixin mixin-citroen-colors {
	background-color: var(--citroen-red);
	color: white;
}

header {
	@include mixin-citroen-colors;

	.banner {
		a, a:visited {
			color: white;
			
	
			&:hover {
				font-size: 1.01em;
				text-decoration: none;
			}
		}
	}
}

.bg-nav {
	background-color: var(--dark-medium-blue);
}

.navbar-dark .navbar-nav .nav-link  {
	color: white;

	&:hover {
		text-decoration: underline;
	}
}

.flash-wrapper {
	position: fixed;
	top: 40px;
	left: 50%;
	width: 600px;
	max-width: 90%;
	transform: translateX(-50%);
	z-index: 200;

	.flash {
		position: relative;
		margin: 10px auto;
		padding: 20px;

		background-color: #ddd;
		color: var(--jet);
		border-radius: 5px;
		border: solid 2px var(--citroen-red);
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

		.close-flash {
			position: absolute;
			font-size: 0.8em;
			right: 5px;
			top: 5px;
		}
	}
}

svg.bi {
	color: var(--dark-medium-blue);
}

.form-group .simple_mde > *:not(label){
	background-color: white;
}

.CodeMirror,
.CodeMirror-scroll {
    height: 150px;
    min-height: 150px;
}

input[type=checkbox] {
	display: inlin-block;
	margin-right: 0.5em;
}

.ui-sortable-handle {
	cursor: pointer;
}

/* Bootstrap customizations */

.manage {
	background-color: palegoldenrod;
	border-top: solid 2px var(--eggplant);
	border-bottom: solid 2px var(--eggplant)
}

.navbar {
	.navbar-brand {
		font-size: 1.2em;
		font-weight: bold;
	}

	.nav-item.site {
		display: inline-block;
		margin-left: 1em;
	}

	.navbar-rendezvous {
		@include mixin-citroen-colors;
	}

	&.top-nav {
		.navbar-brand {
			margin: 0 40px;
		}
	}
}

.card {
	margin: 10px 0;

	&:first-of-type {
		margin-top: 0;
	}

	background-color: $card-background;

	.card-title {
		color: white;
		background-color: $card-title-background;
		padding: 15px 20px 7px;

		h1, h2, h3, h4, h5, h6 {
			padding: 0;
			margin: 0;
			line-height: 1;
		}
	}

	.card {
		margin: 7px 0;
		background-color: $nested-card-background;
	}
}


/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
    display: none;
}

.status-icon {
	padding-top: 20px;
	font-size: 20px;
	.complete {
		color: green;
	}
	.initiated {
		color: slateblue;
	}
	.in-review {
		color: gold;
	}
	.payment-due {
		color: orange;
	}
	.cancelled {
		color: darkred;
	}
}

.c_event_registrations .last-step-vehicles .user_fields {
  display: none;
}
.registration-status {
  background-color: black;
	color: #ccc;
}
.registration-status {
  a, a:visited {
    color: gold;
  }

  .fa-check-circle, .payment-due {
    color: orange;
  }
  .complete {
    color: #6f6;
  }
}

.c_event_registrations .body-wrapper {
	background: #d6e6e6;
}

/******************************
responsive area
********************************/
/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {


}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.single-service{
		margin-bottom: 30px;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 12px 10px;
	}
	input.message {
	  width: 718px;
	}
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	input.name {
	  margin-top: 55px;
	  width: 420px;
	}
	input.email{
		width: 420px;
	}
	input.message{
		width: 420px;
	}
	.about-inside{
		padding: 10px;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
	.logo{
		margin-top: 10px;
	}
	input.name{
		margin-top: 55px;
		width: 275px;
	}
	input.email{
		width: 275px;
	}
	input.message{
		width: 275px;
	}
	.contact-form input.submit-btn{
		width: 200px;
		height: 50px;
		border:0;
	}
	.navbar-header{
		margin-top: 5px !important;
	}
	.about-inside{
		padding: 0px;
	}
}
@media print {
  .manage, .flash-wrapper, .back-bar, .push, .footer, #modal, .fa-print {
    display: none;
  }
  .simple .heading {
    margin-top: 0;
  }
}

.debug {
	background: white;
	color: black;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;;
	border: solid 2px darkred;
	padding: 20px 40px;
}
