.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-text
            %h1.h3 Create Vehicle
            = simple_form_for @vehicle do |f|
              = render partial: 'vehicle_fields', locals: { f: v, nested: false }
              .form-group
                = f.button :submit, input_html:  { value:  'Create vehicle' }, class:  "btn  btn-primary"