.container
  .row.justify-content-center
    .col-md-8
      .card
        .card-body
          .card-text
            %h1.h3 Create Vehicle
            #new_vehicle
              = render partial: 'common/vehicles_component', locals: { f: f }
