.tab-content{ data: { tab_content: 'downloads' } }
  .row
    .col-12
      .card
        .card-body
          .card-title
            %h2.h4 Downloads
          .card-text
            %h3.h5 CSV Files
            %ul.list-group
              %li.list-group-item=link_to 'Registrants', admin_download_csv_path(type: 'registrants')
              %li.list-group-item=link_to 'Volunteers', admin_download_csv_path(type: 'volunteers')
              %li.list-group-item=link_to 'Cruisers', admin_download_csv_path(type: 'cruisers')
              %li.list-group-item=link_to 'Outstanding Fees', admin_download_csv_path(type: 'outstanding_fees')

            %h3.h5 Printables
            %ul.list-group
              %li.list-group-item=link_to 'QR Code Stickers', admin_print_path(item: 'qr_code_stickers')
              %li.list-group-item=link_to 'Dash Placards', admin_print_path(item: 'placards')
              %li.list-group-item=link_to 'Blank Placards', admin_print_path(item: 'blank_placards')
              %li.list-group-item=link_to 'Packet Labels', admin_print_path(item: 'labels')
              %li.list-group-item=link_to 'Winners\'s Certificates', admin_print_path(item: 'certificates')
