.tab-content{ data: { "tab-content": 'volunteers' }}
  %p
    Export volunters list (csv):
    =link_to 'export', admin_download_csv_path(type: 'volunteers')
  .card
    .card-body
      .card-title
        %h2 Volunteer List
      .card-text
        - if @volunteers
          %p Total volunteers: #{@volunteer_count}

  %table.table
    %thead
      %tr
        %th Name
        %th Email (of registered user)
      %tbody
        - @volunteers.each do |volunteer|
          %tr
            %td= volunteer[:name]
            %td= volunteer[:user_email]
