main {
  margin-top: 0;
}

#voting-app {
  input[name='code'] {
    text-transform: uppercase;
  }
  
  .tab-content > .tab-pane {
    display: block !important; /* override Bootstrap */
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .tab-content > .tab-pane.active {
    visibility: visible;
    position: static;
    z-index: auto;
  }

  .selection-wrapper {
    background: #eee;
    color: var(--cambridge-blue);
    margin: 10px;

    .selection {
      margin: 20px;
      line-height: 1.4;
      margin-top: 10px;
      .info {
        font-size: 1.2rem;
      }
    }
  }
}