
body.labels {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8;
  
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 8.5in;

    .label {
      color: black;
      box-sizing: border-box;
      width: 4in;
      height: 3.33in;

      margin: 0 0.125in;
      // Leaving out the border

      padding: 1rem 2rem;
      position: relative;

      .name {
        font-weight: bold;
        font-size: 1.2em;
      }

      .logo {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        height: 4rem;
      }
      &:nth-child(6n+1), &:nth-child(6n+2) {
        margin-top: 0.5in;
      }

      &:nth-child(6n) {
        page-break-after: always;
      }
    }
  }

}