.row
  .col-md-6.col-12
    = f.input :transaction_type, collection:  [['Payment', 'payment'], ['Refund', 'refund'], ['None', 'none']], selected:  'payment'
  .col-md-6.col-12
    = f.input :transaction_method, collection:  payment_methods.map { |m| [m.titlecase, m] }, prompt:  '-- Select payment method'
.row
  .col-md-4.col-12
    = f.input :amount, hint:  'Enter a positive amount. The transaction type will determine the sign.'
.row
  .col-md-4.col-12
    = f.input :cc_transaction_id, label:  'Credit card transaction ID'
