.container
  .row.justify-content-center
    .col-md-10.col-12.heading
      %h2 Admin Review
      %p
        = link_to 'Edit', edit_admin_event_registration_path(@event_registration), class:  "btn  btn-warning"                   
      = render partial:  'common/registration_info'
      
      - if @refund
        %p 
          %b Refund due: #{number_to_currency(@refund)}
    
  
  