.container
  .row
    .col-md-offset-3.col-md-6
      %hr
      .well.instructions
        %h1 Sign In 
        %p If you registered on line last year, you have an account. 
        %p You can sign in with your username and password, or we can send you a login link.
        %p 
          If you don't have an account,
          %a{ href: new_user_registration_path } sign up here.
      .well.get-sign-in-link 
        %h2 Sign in with a link
        %p Enter your email below and we'll send you a link to log in to the site.
        = form_with(url: request_login_link_path, method: :post) do |f|
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, placeholder: "you@example.com", required: true, class: 'form-control'
          -# .form-group
          -#   - if @show_checkbox_recaptcha
          -#     = recaptcha_tags
          -#   - else
          -#     = recaptcha_v3(action: 'login')
          = f.submit "Send" , class: "btn btn-info"

 