.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-text
            %h1.h3 Scheduled Events            
            - unless @scheduled_events
              %p No scheduled events yet.
            - else
              %ul
                - @scheduled_events.each do |event|
                  %li
                    = link_to "Edit", edit_admin_scheduled_event_path(event)
                    = "#{event.time}: #{event.short_description}"
            
            %hr
            %p
              =link_to "Create new", new_admin_scheduled_event_path, class: "btn btn-sm btn-primary"
            - if @scheduled_events.size > 0
              %p
                =link_to "Delete all", admin_destroy_all_scheduled_events_path, method: :delete, class: "btn btn-sm btn-danger"                       