.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-text
            %h1.h3 Scheduled Events
            %p
              =link_to "Create new", new_admin_scheduled_event_path, class: 'btn btn-primary'
            
            - unless @scheduled_events
              %p No scheduled events yet.
            - else
              %ul
                - @scheduled_events.each do |event|
                  %li
                    = link_to "Edit", edit_admin_scheduled_event_path(event)
                    = "#{event.time}: #{event.short_description}"
            
            - if @scheduled_events.size > 0
              %p
                =link_to "Delete all", delete_all_admin_scheduled_event_path, class: 'btn btn-primary'                       