.container 
  .row.align-just
    .col-md-8
      %h1.h3 Create Venue
      = simple_form_for @venue do |f|
        = render partial:  'admin_venue_fields'
        %br
        .form-group
          = f.button :submit, input_html:  { value:  'Update Venue' }, class:  'btn btn-primary'