.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-text
            %h1.h3 Venues
            %p
              =link_to "Create new", new_admin_venue_path, class: 'btn btn-primary'

            - unless @venues
              %p No Venues yet.
            - else
              %ul
                - @venues.each do |venue|
                  %li
                    = link_to venue.name, admin_venue_path(venue)
                    |
                    = link_to "Edit", edit_admin_venue_path(venue), class: "btn btn-primary"

            - if @venues.size > 0
              %p
                =link_to "Delete all", admin_destroy_all_venues_path, class: 'btn btn-primary'                     
