.container#venues
  .row.justify-content-center
    .col-md-10
      %h1 Manage Venues
    .col-md-10
      %h2 Editing
      - @venues.each do |venue|
        .card 
          .card-body 
            .card-text
              = simple_form_for venue do |f|
                = render partial:  'admin_venue_fields', locals: { f: f }
                %br
                .form-group
                  = f.button :submit, input_html:  { value:  'Update Content' }, class:  "btn btn-sm btn-primary"

      %p
        =link_to "Create new", new_admin_venue_path, class: "btn btn-sm btn-primary"
      %p
        =link_to "Import from CSV", admin_venues_import_path, class: "btn btn-sm btn-warning"
      - if @venues.size > 0
        %p
          =link_to "Destroy all", admin_destroy_all_venues_path, method: :delete, class: "btn btn-sm btn-danger"  

    


              