.container#vendors
  .row.justify-content-center
    .col-md-6
      %h1 Manage Venues
      %table.table
        %tbody
          - @venues.each do |venue|
            %tr
              %td #{venue.name}
              %td=link_to 'Edit', edit_admin_venue_path(venue), class: "btn btn-sm btn-primary"
              %td=link_to 'Delete', admin_venue_path(venue), method: :delete, class: "btn btn-sm btn-danger"

      %p
        =link_to "Create new", new_admin_venue_path, class: "btn btn-sm btn-primary"
      %p
        =link_to "Import from CSV", admin_venues_import_path, class: "btn btn-sm btn-warning"
      - if @venues.size > 0
        %p
          =link_to "Destroy all", admin_destroy_all_venues_path, method: :delete, class: "btn btn-sm btn-danger"  

              