.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-text
            %h1.h3 Create Venue
            = simple_form_for @venue do |f|
              = render partial: 'admin_venue_fields', locals: { f: f}
              .form-group
                = f.button :submit, input_html:  { value:  'Create Venue' }, class:  'btn btn-primary'