.container
  .row
    .col-md-offset-1.col-md-10.col-xs-12
      %h1 2016 Registration
      %h2 Review
      %p Please review the information below. If you need to change it please go back to the previous page and correct anything that needs changing.

      .row
        .col-md-12
          = render :partial => 'common/registration_info'
          
      .row
        .col-md-12.text-center    
          .form-group
            = link_to '<i class="fa fa-arrow-left"></i> Go back '.html_safe, edit_rendezvous_registration_path(@rendezvous_registration, :review => true), :class => 'btn btn-primary'
            = link_to 'Go to payment <i class="fa fa-arrow-right"></i>'.html_safe, payment_rendezvous_registration_path(@rendezvous_registration), :class => 'btn btn-primary correct_form'
