- @qr_codes.each do |qr_code|
  .placard.blank
    %header
      .logo
        %img{ src: asset_url('R26-fiftieth-b+w.png')}
      .text
        Citroen Rendezvous #{Date.current.year}

    .datum
      %span.label Vehicle:
      %span.value

    .datum
      %span.label Owner:
      %span.value

    .datum
      %span.label Category:
      %span.value

    .qr-code-id
      %span.image
        = image_tag QrCode.get_image_path(qr_code.code)
      %span People's Choice ID
      %span.code #{qr_code.code}
