- @qr_codes.each_slice(30) do |page_of_codes|
  .voting-code-stickers
    .wrapper-page
      .wrapper
        - page_of_codes.each do |qr_code|
          .label-wrapper
            .label
              .qr
                = image_tag qr_code_url(qr_code.code)
              .code= qr_code.code.to_s.upcase
