%turbo-frame{ id: 'categories-content'}
  .selections
    - selections.each do |category, vehicles|
      .alert.alert-warning.d-flex.justify-content-between
        %strong #{category} 
        -if vehicles.nil? || vehicles.length == 0
          .badge.badge-primary.ml-5 No selections yet
      - unless vehicles.nil? 
        %ul.list-unstyled
          - vehicles.each do |v|
            %li.alert.alert-info.ml-3 #{v.year_marque_model} (owner: #{v.user.full_name})

        