%turbo-frame{ id: 'categories-content'}
  .selections
    - selections.each do |category, vehicles|
      .category.alert.alert-warning.d-flex.justify-content-between
        %strong #{category} 
        -if vehicles.nil? || vehicles.length == 0
          .badge.badge-primary.ml-5 No selections
      - unless vehicles.nil? 
        %ul.vehicles.list-unstyled
          - vehicles.each_with_index do |v, index|
            %li.alert.alert-info.ml-3 #{index + 1}. #{v.year_marque_model} | #{v.user.full_name}

        