.tab-content{ data: { "tab-content": 'landing' } }
  .card
    .card-body
      .card-title
        %h2.h4.d-flex.justify-content-between.align-items-center
          People's Choice Voting
      .card-text
        %ul
          %li.mb-3 Vote by aiming your camera at the QR code on the dash placard to get the ID.
          %li.mb-3
            %strong OR
          %li.mb-3 Select the Vote tab and enter the car ID from the dash card yourself.
          %li.mb-3
            %strong THEN
          %li.mb-3 the details for the selected vehicle will appear and the vote button will become active.
          %li.mb-3 Click the Vote button to register your vote.
