- unless flash.keys.blank?
  .flash-wrapper
    - flash.keys.each do |type| 
      %i.fa-solid.fa-square-xmark
      - if type == 'alert'
        .flash.bg-danger{ :role => 'alert' }
      - else 
        .flash.bg-primary{ :role => 'notice' }

        - flash[type].each do |m|
          #{m}<br/>
