- unless flash.keys.blank?
  .flash-wrapper
    - flash.keys.each do |type|
      - flash[type] = [ flash[type] ] if !flash[type].kind_of? Array
      - flash[type].each do |m|
        .flash{ role: type.to_s }
          .close-flash
            Close 
            %i.fa.fa-close
          .message
            #{m}




