%div{ style: 'width: 600px;' }
  %img{ src: 'http://citroenrendezvous.org/rendezvous-logo.png' style: 'float: left;'}
  %div{ style: 'width: 600px;' }
    %h1{ style: "font-family: Helvetica, Arial, sans-serif; font-size: 18px"}
    %p{ style: "font-family: Helvetica, Arial, sans-serif; font-size: 12px"}
      For over 40 years, the northeast's largest gathering of Citroens
%div{ style: 'width: 600px; margin: 20px 0 30px; clear: both;' }
  %hr{ style: 'height: 2px; background: #ccc' }