%div{ style: 'width: 600px;' }
  %img{ src: 'http://citroenrendezvous.org/rendezvous-logo.png', style: 'float: right;'}
  %div
    %h1{ style: "font-family: Helvetica, Arial, sans-serif; font-size: 20px; eont-weight: bold;"}
      The Citroen Rendezvous
    %p{ style: "font-family: Helvetica, Arial, sans-serif; font-size: 16px"}
      For over 40 years, the northeast's largest gathering of Citroens
  %div{ style: "clear: both;"}
%div{ style: 'width: 600px; margin: 20px 0 30px;' }
  %hr{ style: 'height: 4px; background: #E1393E;'}
