!!!
%html{:lang => "en"}
  %body
    %div{ :style => "width: 600px;" }
      = yield
    %div{ :style => "width: 600px; margin-top: 20px;border-top: solid 2px #ccc; padding-top: 20px;" }
      %img{ :src => 'http://citroenrendezvous.org/rendezvous-logo.png' }
      
    