\----------------------------------------------------------------------------
|
|  The Citroen Rendezvous
|  For 50 years, the northeast's largest gathering of Citroens
|
\----------------------------------------------------------------------------

= yield
