\----------------------------------------------------------------------------
|
|  The Citroen Rendezvous
|  For over 40 years, the northeast's largest gathering of Citroens
|
\----------------------------------------------------------------------------

= yield