!!!
%html{ lang: 'en'}
  %body
    %div{ style: 'width: 600px;' }
      = render partial: 'layouts/rendezvous_mail_header'
    %div{ style: 'width: 600px;' } 
        = yield
    %div{ style: 'width: 600px; margin-top: 40px' } 
      %hr{ style: 'height: 7px; background: #E1393E;'}

      
    