= form_with(url: request_login_link_path, method: :post) do 
  = label_tag :email, "E-mail address" 
  = email_field_tag :email, nil, placeholder:"you@example.com", autofocus: true, required: true 
  = submit_tag "Send!" 