| Dear #{@user.first_name},
| Ok, you're all signed up for the Rendezvous!
| Here's your basic registration info:

= render partial: 'basic_registration_info', locals: { reg: @registration }

| Payment link (this will take you to Square):
= link_to @payment_link, @payment_link

| Thanks, and looking forward to seeing you at the Rendezvous!

| Cheers,
| Tim
