.container-fluid.px-0
  .row.no-gutters.bg-nav
    .col-12
      .container
        .row
          %ul.list-group.list-group-horizontal.d-flex.justify-content-center.align-items-center
            %li.list-group-item= link_to 'View my registration', event_registration_path(reg), class: 'btn btn-sm btn-secondary'
            %li.list-group-item= link_to 'Pay for my registration', payment_event_registration_path(reg), class: 'btn btn-sm btn-secondary'
            %li.list-group-item= link_to 'Update my vehicles', edit_user_vehicles_path(user.id), class: 'btn btn-sm btn-secondary'
            %li.list-group-item= link_to 'Message Tim', email_create_message_path(r_id: reg.id), class: 'btn btn-sm btn-secondary'
