
- config = Rails.configuration.rendezvous
.col-md-offset-2.col-md-8.col-xs-12
  %h1  #{config[:dates][:year]} Citroen Rendezvous Registration
  %h2  #{event_dates}, Saratoga Springs, New York
  = render partial:  'common/registration_progress', locals:  { step:  step }
