.container-fluid.px-0
  .row.no-gutters.justify-content-center 
    .registration-step.vw-100
      %ul.list-group.list-group-horizontal.d-flex.justify-content-center.align-items-center
        - if previous_step(step)
          %li.list-group-item.step.prev
            = previous_step(step)
          %li.list-group-item.step.current
            = step
        - if next_step(step)
          %li.list-group-item.step.next
            = next_step(step)

