.status-info 
  %p 
    Quick access to other registration steps:
    %strong 
      - if !current_registration
        =link_to 'start your registration', new_event_registration_path
      - elsif  ['in review', 'payment due'].include? current_registration.status
        = link_to 'review your registration', review_event_registration_path(current_registration)
        &nbsp;&nbsp;
        = link_to 'pay your fee', payment_event_registration_path(current_registration)
      - elsif current_registration.status == 'complete'
        = link_to 'update your vehicle(s)', update_vehicles_event_registration_path(current_registration)
        &nbsp;&nbsp;
        = link_to 'view completed registration', event_registration_path(current_registration)