.status-info 
  %p 
    Your next step:
    %strong 
      - if !current_registration
        =link_to 'start your registration', new_event_registration_path
      - elsif  ['in review', 'payment due'].include? current_registration.status
        = link_to 'pay your fee', payment_event_registration_path(current_registration)
      - elsif current_registration.status == 'complete'
        = link_to 'update your vehicle(s)', vehicles_event_registration_path(current_registration)
        or just kick back - you're done! 