.container
  .row.justify-content-center
    .col-md-4.col-12
      %h1 Pas Trop Vite! 
      %p Sorry, we're glad you're eager, but we're not quite ready for registration yet.
      %p We'll let you know through the usual channels when it's registration is open.
      %p Thanks for your patience!