.modal{:tabindex => "-1", :id => "vehicle-modal"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header.pull-right
        %button.btn-close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"} X Close
      .modal-body
        = simple_form_for @user do |f|
          = render partial:  'common/user_info', locals:  { f:  f, vehicles:  true }
          %br
          .form-group
            = f.button :submit, input_html:  { value:  'Update' }, class:  'btn btn-primary'
