.modal.fade{tabindex: "-1", id: "vehicle-modal"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header.s-flex
        %button.btn-close.ml-auto{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"} #{bootstrap_icon 'x-circle', '20'}
      .modal-body
        = simple_form_for @user, url: user_path(@user, { redirect_url: redirect_url }), method: :put do |f|
          = render partial:  'common/user_info', locals:  { f:  f, vehicles:  true }
          %br
          .form-group
            = f.button :submit, value:  'Update', class:  "btn  btn-primary"
