.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-text
            %h1.h3 Venues
            - unless @venues
              %p No Venues yet.
            - else
              %ul
                - @venues.each do |venue|
                  %li
                    = link_to "Edit", edit_venue_path(venue), class: "btn  btn-primary"
                    = link_to venue.name, venue_path(venue)


            %hr
            %p
              =link_to "Create new", new_venue_path, class: "btn  btn-primary"
            %p
              =link_to "Import from CSV", venues_import_path, class: "btn  btn-warning"
            - if @venues.size > 0
              %p
                =link_to "Delete all", destroy_all_venues_path, method: :delete, class: "btn  btn-danger"                     
