.container
  .row
    .col-md-12
      %h1 Rendezvous Photo Gallery
      %p Click on a photo to enlarge/enter slideshow.
      #gallery
        - @pictures_by_year.each do |year, pictures|
          %h2.text-citroen= year
          - pictures.each do |picture|
            = render :partial => 'gallery_image', :locals => { :pic => picture }