.container
  .row
    .col-md-12
      %h1 Rendezvous Photo Gallery
      %p Click on a photo to enlarge/enter slideshow.
      #gallery
        - @pictures.each do |picture|
          = render :partial => 'gallery_image', :locals => { :pic => picture }