.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-text
            %h1.h3 Create FAQ
            = simple_form_for @faq do |f|
              = render partial:  'admin_faq_fields', locals: { f: f }
              %br
              .form-group
                = f.button :submit, input_html:  { value:  'Create FAQ' }, class:  'btn btn-primary'