  %p Dear #{@name}
  %p Thanks very much for sending us the following message:
  %blockquote{ :style => "margin: 20px; padding: 20px; color: #fff; background-color: #1E6994; border: solid 1px #ccc; border-radius: 5px;" }
    %p #{@message}
  %p If this requires a response on our part, we'll get back to you as soon as possible.
  %p Otherwise, thanks for your note. We hope to see you at the Rendezvous!
  %p 
    Best regards,
    %br 
      Your 
      %em chauffeurs: 
      Michaela, David, Toaph, and Tim

