Dear #{@name}

Thanks very much for sending us the following message:
#{@message}

If this requires a response on our part, we'll get back to you as soon as possible.

Otherwise, thanks for your note. We hope to see you at the Rendezvous!

Best regards,
Your chauffers: Michaela, David, Toaph, and Tim

