.content
  .row
    .col-md-offset-2.col-md-8.col-xs-12
      %h1 Legal Information
      %h2#about About
      %p This website, citroenrendezvous.org , is owned and operated by Citroen Rendezvous LLC:
      %p= rendezvous_mailing_address()
      %p Chief officer of the LLC: David Cossitt Levy
      
      %h2#refund_policy Refund Policy
      %p In case of cancellation, Citroen Rendezvous LLC will refund up to the full registration fee for the event until one (1) week before the event; the last day to request a refund is June 9, 2016.
      %p Donations are non-refundable.
      %p If payment was made by credit card, cancellations will be refunded by crediting your card. These cancellations must be made by telephone.
      
      %h2#privacy_policy Privacy Policy
      %p We are committed to protecting the privacy of website visitors.
      %ul
        %li We collect and store your name, email address, and geographic address. 
        %li We do not save or store your credit card information.
        %li All information, including usernames, passwords, personal data, and credit card information are transmitted using SSL encryption.
        %li We will not knowingly provide your personal information to any third parties for the purposes of commerce.
        %li Our website uses session cookies as a convenience to you. 
        %li The sharing service we use may insert tracking cookies. We have no control over this.
        %li You have the option to refuse to accept cookies
        %li 
          You may also use a service called 
          = link_to 'Ghostery', 'https://www.ghostery.com/our-solutions/ghostery-browser-extention/' 
          to control tracking cookies.
        %li In the future, we may provide a way for you to post photographs to the site. Your uploading of those photographs will constitute consent for us to display them. The copyright for any photographs will remain yours.
        
