.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-text
            %h1.h3 Create FAQ
            = simple_form_for @scheduled_event do |f|
              = render partial:  'scheduled_event_fields', locals: { f: f }
              .form-group
                = f.button :submit, input_html:  { value:  'Create Event' }, class:  "btn btn-sm btn-primary"