%p Welcome back!

%p If you requested this login link, click the link below to log in. Otherwise, just delete this email.

%p The link is valid for 10 minutes.

%p
  = link_to "Sign in to my Citroen Rendezvous account", sign_in_with_link_url(login_token: @login_token)