%p Welcome back!

%p If you requested this login link, click the link below to log in. Otherwise, just delete this email.

%p The link is valid for 10 minutes.

%p
  NOTE: Always be cautious about clicking on email links. If you are not expecting an email, hover over links and make sure the url you will be taken to is the one you expect.

%p
  Sign in to my Citroen Rendezvous account: 
  = link_to 'SIGN IN', sign_in_with_link_url(login_token: @login_token)