.container
  .row
    .col-md-12
      %h1 Rendezvous T-Shirt Gallery
      %p Thanks to Linda Abrams! Click on a photo to enlarge/enter slideshow.
      #gallery
        - @pictures.each do |picture|
          = render partial:  'gallery_image', locals:  { pic:  picture }

:javascript
  (function() {
    new LazyLoad({
      elements_selector: ".lazy"
    });
  }());
