.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-text
            %h1.h3 Edit Vendor
            = simple_form_for @vendor do |f|
              = render partial: 'vendor_fields', locals: { f: f }
              .form-group
                = f.button :submit, input_html:  { value:  'Update Vendor' }, class:  'btn btn-primary'