.container#vendors
  .row.justify-content-center
    .col-md-10
      %h1 Manage Vendors

    .col-md-8
      %h2 Ordering
      %table.table
        %tbody.sortable
          - @vendors.each_with_sortable_id do |vendor, sortable_id|
            %tr{id: sortable_id}
              %td
                %svg.bi{ width: "32", height: "32", fill: "currentColor" }
                  %use{ href: image_path("bootstrap-icons/bootstrap-icons.svg#list") }
                = vendor.name 
    .col-md-10
      %h2 Editing
      - @vendors.each do |vendor|
        .card 
          .card-body 
            .card-text
              = simple_form_for vendor do |f|
                = render partial:  'vendor_fields', locals: { f: f }
                %br
                .form-group
                  = f.button :submit, input_html:  { value:  'Update Content' }, class:  "btn btn-sm btn-primary"

      %p
        =link_to "Create new", new_vendor_path, class: "btn btn-sm btn-primary"
      %p
        =link_to "Import from CSV", vendors_import_path, class: "btn btn-sm btn-warning"
      - if @vendors.size > 0
        %p
          =link_to "Destroy all", destroy_all_vendors_path, method: :delete, class: "btn btn-sm btn-danger"  

:javascript
  $(function() {
    $('.sortable').railsSortable();
  });
    


              