.container
  .row
    .col-md-offset-4.col-md-4.col-xs-12
      %p Thank you for your inquiry. We'll get back to you as soon as we can.
      .contact-message 
        %p Your %submission 
        %p Email #{@email}
        %p Your message 
        %p #{@message}
      %p
        %em Bonne route!