- config = Rails.configuration.rendezvous
.content
  .row
    .col-md-offset-2.col-md-8.col-xs-12
      %h1= @title
      %p
        This website, citroenrendezvous.org, is owned and operated by Citroen Rendezvous LLC.
      %p Official content #{official_contact}

      .legal_information 
        = keyed_content("page_legal")