.content
  .row.justify-content-center
    .col-md-6.col-12
      .card 
        .card-body 
          .card-title
            %h1.h2= @title
          .card-text
            = keyed_content("page_volunteering")
