:javascript

  let myHostedFields;

  function buildBraintree() {
    var form = document.querySelector('#rendezvous_registration_form');
    var submit = document.querySelector('input[type="submit"]');

    var event;

    braintreeClient.create({ authorization: appData.clientToken }, function(clientErr, clientInstance) {

      if (clientErr) {
        console.error(clientEerr);
        return;
      }

      var hostedFieldOptions = {
        client: clientInstance,

        id: 'rendezvous_registration_form',
        fields: {
          number: {
            selector: '#card-number'
          },
          cvv: {
            selector: '#cvv',
            placeholder: '3 or 4 digits'
          },
          expirationDate: {
            selector: '#expiration-date',
            placeholder: 'MM/YYYY'
          }
        },
        styles: {
          "input": {
            "color": '#555',
            "font-size": '14px'
          }
        }
      }

      hostedFields.create(hostedFieldOptions, function(hostedFieldsErr, hostedFieldsInstance) {

        myHostedFields = hostedFieldsInstance;

        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        // Set up events
        hostedFieldsInstance.on('cardTypeChange', function(e) {
          if (e.cards.length === 1) {
            $('td#logo').addClass(e.cards[0].type);
          } else {
            $('td#logo').attr('class', '');
          }
        });

        hostedFieldsInstance.on('validityChange', function(e) {
          field = e.fields[e.emittedBy];
          if (e.emittedBy === 'expirationDate') {
            var fieldClass = ".expiration";
          } else if (e.emittedBy === 'cvv') {
            fieldClass = ".cvv";
          } else if (e.emittedBy == 'number') {
            fieldClass = '.credit-card';
          }

          if (field.isValid) {
            $('.submit-status ' + fieldClass + ' i').removeClass('hidden');
            $('.submit-status ' + fieldClass ).removeClass('text-danger').addClass('text-success');
          } else {
            $('.submit-status ' + fieldClass + ' i').addClass('hidden');
            $('.submit-status  ' + fieldClass ).removeClass('text-success').addClass('text-danger');
          }
        });

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function(event) {
          console.log(myHostedFields);
          if (myHostedFields) {
            event.preventDefault();
            hostedFieldsInstance.tokenize(function(tokenizeErr, payload) {
              if (tokenizeErr) {
                console.error(tokenizeErr);
                return;
              }
              document.querySelector('input[name="payment_method_nonce"]').value = payload.nonce;
              form.submit();
            });
          }
        }, false);
      });
    });
  };


  $(function() {

    buildBraintree();

    $('#rendezvous_registration_paid_method_credit_card').on('click', function() {
      buildBraintree();
    });
    $('#rendezvous_registration_paid_method_check').on('click', function() {
      myHostedFields.teardown( function(teardownErr) {
        if (teardownErr) {
          console.error('Could not tear down HostedFields.');
        } else {
          console.log('HostedFields has been torn down.');
          myHostedFields = null;
        }
      });
    });

  });

:javascript
  //<![CDATA[
  var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
  document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
  //]]>
