:javascript  
  var myIntegration;
    
  var buildBraintree = function() {
    var event;
    braintree.setup(appData.clientToken, "custom", {
      onReady: function(integration) {
        myIntegration = integration;
      },
      id: 'rendezvous_registration_form',
      hostedFields: {
        number: {
          selector: '#card-number'
        },
        cvv: {
          selector: '#cvv',
          placeholder: '3 or 4 digits'
        },
        expirationDate: {
          selector: '#expiration-date',
          placeholder: 'MM/YYYY'
        },
        styles: {
          "input": {
            "color": '#555',
            "font-size": '14px',
          }
        },
        onFieldEvent:  function(e) {
          if (e.type === 'fieldStateChange') {
            console.log(e.type)
            if (e.target.fieldKey === 'number') {
               if (e.isValid) {
                if (typeof(e.card) != 'undefined') {
                  $('td#logo').addClass(e.card.type);
                  $('.submit-status .credit-card i').removeClass('hidden');
                  $('.submit-status .credit-card').removeClass('text-danger').addClass('text-success');
                }
              } else {
                $('td#logo').removeClass();
                $('.submit-status .credit-card i').addClass('hidden');
                $('.submit-status .credit-card').removeClass('text-success').addClass('text-danger');
              }
            }
            if (e.target.fieldKey === 'expirationDate') {
              if (e.isValid) {
                $('.submit-status .expiration i').removeClass('hidden');
                $('.submit-status .expiration').removeClass('text-danger').addClass('text-success');
              } else {
                $('.submit-status .expiration i').addClass('hidden');
                $('.submit-status .expiration').removeClass('text-success').addClass('text-danger');
              }
            }
            if (e.target.fieldKey === 'cvv') {
              if (e.isValid) {
                $('.submit-status .cvv i').removeClass('hidden');
                $('.submit-status .cvv').removeClass('text-danger').addClass('text-success');
              } else {
                $('.submit-status .cvv i').addClass('hidden');
                $('.submit-status .cvv').removeClass('text-success').addClass('text-danger');
              }
            }
          }
        }
      }
    });    
  }
  var teardownBraintree = function() {
    myIntegration.teardown();
  }
  $(function() {
    buildBraintree();
    
    $('#rendezvous_registration_paid_method_credit_card').on('click', function() {
      buildBraintree();
    });
    
    $('#rendezvous_registration_paid_method_check').on('click', function() {
      teardownBraintree();
    });
  });
