- config = Rails.configuration.rendezvous
.col-md-offset-1.col-md-10.col-xs-12
  %h1  #{config[:dates][:year]} Citroen Rendezvous Registration
  %h2 June #{config[:dates][:start]}&ndash;#{config[:dates][:end]}, Saratoga Springs, New York
  = render :partial => 'common/registration_progress', :locals => { :step => step }
