:javascript
  $(function() {
    var regStatus = Cookies.get('registration_status');
    if (regStatus) {
      if (regStatus === 'complete') {
        regStatus += ' <i class="fa fa-thumbs-up complete"></i>'
      } else if (regStatus === 'payment due') {
        regStatus += ' <i class="fa fa-thumbs-up payment-due"></i>'
      } else {
        var regId = Cookies.get('registration_id');
        regStatus += ' <i class="fa fa-check-circle"></i>'
      }
      $('.registration-status .status').html('Registration status: ' + regStatus );
      $('.registration-status').slideDown();
    }
  });
