!!!
%html{:lang => "en"}
  %body
    %div{ :style => "width: 600px;" }
      = yield
    %div{ :style => "width: 600px; margin-top: 20px;border: solid 2px #666; padding-top: 20px;" }
      = img_tag "http://rendezvous.wordsareimages.com/rendezvous_logo.png"
      
    